<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.cocoscreatorformssample" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:label="CocosCreatorFormsSample.Android">
		<meta-data android:name="android.app.lib_name" android:value="cocos2djs" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-feature android:glEsVersion="0x00020000" />
</manifest>